<header id="first-header">
  <figure class="figure">
    <img class="figure-img img-fluid rounded-circle" src="images/logo.png" alt="logo"/>
  </figure>
  <h1>Ristoranti</h1>
  <nav class="mt-3 navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="ms-5 navbar-brand" href="#">Ristoranti</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="voice-menu nav-item"><a class="nav-link text-uppercase fw-bold px-3" routerLink="/home"
                                             routerLinkActive="active">Home</a></li>
          <li class="voice-menu nav-item"><a class="nav-link text-uppercase fw-bold px-3" routerLink="/about"
                                             routerLinkActive="active">Chi siamo</a></li>
          <li class="voice-menu nav-item"><a class="nav-link text-uppercase fw-bold px-3" routerLink="/ristorante"
                                             routerLinkActive="active">Elenco Ristoranti</a></li>
          <li class="voice-menu nav-item"><a class="nav-link text-uppercase fw-bold px-3" routerLink="/piatto"
                                             routerLinkActive="active">Elenco Piatti</a></li>
          @if (!user) {
            <li class="voice-menu nav-item"><a class="nav-link text-uppercase fw-bold px-3"
                                               routerLink="/login" routerLinkActive="active">Login</a></li>
          } @else {
            <li class="voice-menu nav-item"><a class="nav-link text-uppercase fw-bold px-3"
                                               (click)="logout()">Logout</a>
              }
        </ul>
      </div>
    </div>
  </nav>
</header>
