<table class="table table-dark table-striped table-bordered align-middle">
  <thead class="table-light border-dark">
  <tr>
    <th>Nome</th>
    <th>Descrizione</th>
    <th>Ubicazione</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody class="table-group-divider" id="tabellaRistorante">
    @for (ristorante of ristoranti; track ristorante.nome) {
      <tr>
        <td><a routerLink="{{ristorante.nome}}">{{ ristorante.nome }}</a></td>
        <td>{{ ristorante.descrizione }}</td>
        <td>{{ ristorante.ubicazione }}</td>
        <td>
          <button class="btn btn-danger btn-sm d-block mx-auto" (click)="onRemove(ristorante.nome)"><i
            class="fa-solid fa-trash"></i></button>
        </td>
      </tr>
    }
  </tbody>
</table>
<form>
  <div class="mb-3">
    <label class="form-label" for="nome_ristorante">Nome Ristorante:</label>
    <input class="form-control" id="nome_ristorante" type="text" [(ngModel)]="ristorante.nome" name="nome"/>
  </div>
  <div class="mb-3">
    <label class="form-label" for="desc_ristorante">Descrizione Ristorante:</label>
    <textarea class="form-control" id="desc_ristorante" placeholder="Inserisci la descrizione"
              [(ngModel)]="ristorante.descrizione" name="descrizione"></textarea>
  </div>
  <div class="mb-3">
    <label class="form-label" for="ub_ristorante">Ubicazione Ristorante:</label>
    <select class="form-select" id="ub_ristorante" [(ngModel)]="ristorante.ubicazione" name="ubicazione">
      <option value="---" selected>---</option>
      <option value="Rende">Rende</option>
      <option value="Cosenza">Cosenza</option>
      <option value="Castrolibero">Castrolibero</option>
    </select>
  </div>
  <div class="d-grid gap-2 d-md-flex justify-content-md-center mb-5">
    <input id="btn_aggiungi" type="button" class="btn btn-success" (click)="onSave()"
           value="Aggiungi Ristorante alla lista"/>
    <input type="reset" class="btn btn-danger"/>
  </div>
</form>
