<form id="loginForm" method="POST">
  <div class="mb-3">
    <label class="form-label" for="user">Username:</label>
    <input class="form-control" type="text" id="user" [(ngModel)]="username" name="username" required/>
  </div>
  <div class="mb-3">
    <label class="form-label" for="password">Password:</label>
    <input class="form-control" type="password" id="password" [(ngModel)]="password" name="password" required/>
  </div>
  <div>
    <input class="mb-3 btn btn-primary" type="submit" (click)="onLogin()"/>
  </div>
</form>

<div id="g_id_onload"
     data-client_id="386361902257-42tcdcdb2qs9nm6k9hq1smbm3ffblkvb.apps.googleusercontent.com"
     data-callback="handleCredentialResponse"
     data-auto_prompt="false"
     data-itp_support="false">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-locale="it"
     data-logo_alignment="left">
</div>
